.col-sm-12
  .panel.panel-default
    .panel-heading
      h3.panel-title
        i.fa.fa-home
        | &nbsp;
        | Access Error
    .panel-body
      p
        | Lo sentimos, pero el acceso a esta aplicación es
        mark privada
        |  y se necesita estar registrado en la aplicación.
      p
        | Por favor, ingrese en esta
        b
          a(href='/signup/')  url
        |  para poder registrarse en la aplicación o en
        b
          a(href='/login/')  loguearse
        |  si ya tienes una cuenta creada.
      p
        | The income isn´t automatic, as he is necessary to confirm the validity of the account to be able to add access privileges.
      p
        | However, will be sent you email to let know you that the account is fully activated as soon as possible.
      hr
      p A cordial greeting from the development team.
