li.dropdown
  a.dropdown-toggle(href='#', data-toggle='dropdown')
    | Experiments&nbsp;
    span.caret
  ul.dropdown-menu
    li.dropdown-header General
    li: a(href='/account/experiments/library/') Library
    li: a(href='/account/experiments/search/') Search
    li.divider
    li.dropdown-header User Exp. Admin
    li: a(href='/account/experiments/uploads/') Uploads
    li: a(href='/account/experiments/mylibrary') My Library
    li.divider
    li.dropdown-header Others
    li: a(href='/account/experiments/compare/') Compare